@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400&display=swap");

* {
  font-family: "Anuphan", sans-serif;
}
.fit-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
:root {
  --hover-custom-new-color: #2c262260;
}
/* set the input data calender icon to white */
/* input {
  color-scheme: dark;
} */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
html {
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}
.gradient-icon {
  font-size: 40px;
  background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#pulser {
  /* position: absolute;
    min-width: 100vw;
    min-height: 100vh; */
  background: red;
  animation-name: pulser;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 0;
}

@keyframes pulser {
  0% {
    background-color: red;
  }
  49% {
    background-color: red;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}
